<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>KitchenStore</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/error-404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/error-500.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>Registration</display-name>
    <servlet-name>Registration</servlet-name>
    <servlet-class>com.kitchenstore.servlet.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActivateAccount</display-name>
    <servlet-name>ActivateAccount</servlet-name>
    <servlet-class>com.kitchenstore.servlet.ActivateAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActivateAccount</servlet-name>
    <url-pattern>/ActivateAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.kitchenstore.servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetPassword</display-name>
    <servlet-name>ResetPassword</servlet-name>
    <servlet-class>com.kitchenstore.servlet.ResetPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetPassword</servlet-name>
    <url-pattern>/ResetPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetPass</display-name>
    <servlet-name>ResetPass</servlet-name>
    <servlet-class>com.kitchenstore.servlet.ResetPass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetPass</servlet-name>
    <url-pattern>/ResetPass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyAccount</display-name>
    <servlet-name>MyAccount</servlet-name>
    <servlet-class>com.kitchenstore.servlet.MyAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyAccount</servlet-name>
    <url-pattern>/MyAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditAccount</display-name>
    <servlet-name>EditAccount</servlet-name>
    <servlet-class>com.kitchenstore.servlet.EditAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditAccount</servlet-name>
    <url-pattern>/EditAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.kitchenstore.servlet.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeEmail</display-name>
    <servlet-name>ChangeEmail</servlet-name>
    <servlet-class>com.kitchenstore.servlet.ChangeEmail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeEmail</servlet-name>
    <url-pattern>/ChangeEmail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeEmailAddress</display-name>
    <servlet-name>ChangeEmailAddress</servlet-name>
    <servlet-class>com.kitchenstore.servlet.ChangeEmailAddress</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeEmailAddress</servlet-name>
    <url-pattern>/ChangeEmailAddress</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Customers</display-name>
    <servlet-name>Customers</servlet-name>
    <servlet-class>com.kitchenstore.servlet.Customers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Customers</servlet-name>
    <url-pattern>/Customers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveCustomer</display-name>
    <servlet-name>RemoveCustomer</servlet-name>
    <servlet-class>com.kitchenstore.servlet.RemoveCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveCustomer</servlet-name>
    <url-pattern>/RemoveCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAddress</display-name>
    <servlet-name>AddAddress</servlet-name>
    <servlet-class>com.kitchenstore.servlet.AddAddress</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAddress</servlet-name>
    <url-pattern>/AddAddress</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StoreAddress</display-name>
    <servlet-name>StoreAddress</servlet-name>
    <servlet-class>com.kitchenstore.servlet.StoreAddress</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreAddress</servlet-name>
    <url-pattern>/StoreAddress</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Address</display-name>
    <servlet-name>Address</servlet-name>
    <servlet-class>com.kitchenstore.servlet.Address</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Address</servlet-name>
    <url-pattern>/Address</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveAddress</display-name>
    <servlet-name>RemoveAddress</servlet-name>
    <servlet-class>com.kitchenstore.servlet.RemoveAddress</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveAddress</servlet-name>
    <url-pattern>/RemoveAddress</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Category</display-name>
    <servlet-name>Category</servlet-name>
    <servlet-class>com.kitchenstore.servlet.Category</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Category</servlet-name>
    <url-pattern>/Category</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveCategory</display-name>
    <servlet-name>RemoveCategory</servlet-name>
    <servlet-class>com.kitchenstore.servlet.RemoveCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveCategory</servlet-name>
    <url-pattern>/RemoveCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubCategory</display-name>
    <servlet-name>SubCategory</servlet-name>
    <servlet-class>com.kitchenstore.servlet.SubCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubCategory</servlet-name>
    <url-pattern>/SubCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveSubCategory</display-name>
    <servlet-name>RemoveSubCategory</servlet-name>
    <servlet-class>com.kitchenstore.servlet.RemoveSubCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveSubCategory</servlet-name>
    <url-pattern>/RemoveSubCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HeaderMenu</display-name>
    <servlet-name>HeaderMenu</servlet-name>
    <servlet-class>com.kitchenstore.servlet.HeaderMenu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HeaderMenu</servlet-name>
    <url-pattern>/HeaderMenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetSubcategory</display-name>
    <servlet-name>GetSubcategory</servlet-name>
    <servlet-class>com.kitchenstore.servlet.GetSubcategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSubcategory</servlet-name>
    <url-pattern>/GetSubcategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Products</display-name>
    <servlet-name>Products</servlet-name>
    <servlet-class>com.kitchenstore.servlet.Products</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Products</servlet-name>
    <url-pattern>/Products</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveProduct</display-name>
    <servlet-name>RemoveProduct</servlet-name>
    <servlet-class>com.kitchenstore.servlet.RemoveProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveProduct</servlet-name>
    <url-pattern>/RemoveProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductStock</display-name>
    <servlet-name>ProductStock</servlet-name>
    <servlet-class>com.kitchenstore.servlet.ProductStock</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductStock</servlet-name>
    <url-pattern>/ProductStock</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductGallery</display-name>
    <servlet-name>ProductGallery</servlet-name>
    <servlet-class>com.kitchenstore.servlet.ProductGallery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductGallery</servlet-name>
    <url-pattern>/ProductGallery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetProductImage</display-name>
    <servlet-name>GetProductImage</servlet-name>
    <servlet-class>com.kitchenstore.servlet.GetProductImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetProductImage</servlet-name>
    <url-pattern>/GetProductImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveProductImage</display-name>
    <servlet-name>RemoveProductImage</servlet-name>
    <servlet-class>com.kitchenstore.servlet.RemoveProductImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveProductImage</servlet-name>
    <url-pattern>/RemoveProductImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Product</display-name>
    <servlet-name>Product</servlet-name>
    <servlet-class>com.kitchenstore.servlet.Product</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Product</servlet-name>
    <url-pattern>/Product</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductCategory</display-name>
    <servlet-name>ProductCategory</servlet-name>
    <servlet-class>com.kitchenstore.servlet.ProductCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductCategory</servlet-name>
    <url-pattern>/ProductCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllProducts</display-name>
    <servlet-name>AllProducts</servlet-name>
    <servlet-class>com.kitchenstore.servlet.AllProducts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllProducts</servlet-name>
    <url-pattern>/AllProducts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageOffers</display-name>
    <servlet-name>ManageOffers</servlet-name>
    <servlet-class>com.kitchenstore.servlet.ManageOffers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageOffers</servlet-name>
    <url-pattern>/ManageOffers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveOffer</display-name>
    <servlet-name>RemoveOffer</servlet-name>
    <servlet-class>com.kitchenstore.servlet.RemoveOffer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveOffer</servlet-name>
    <url-pattern>/RemoveOffer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Wishlist</display-name>
    <servlet-name>Wishlist</servlet-name>
    <servlet-class>com.kitchenstore.servlet.Wishlist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Wishlist</servlet-name>
    <url-pattern>/Wishlist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveItem</display-name>
    <servlet-name>RemoveItem</servlet-name>
    <servlet-class>com.kitchenstore.servlet.RemoveItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveItem</servlet-name>
    <url-pattern>/RemoveItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cart</display-name>
    <servlet-name>Cart</servlet-name>
    <servlet-class>com.kitchenstore.servlet.Cart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cart</servlet-name>
    <url-pattern>/Cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlaceOrder</display-name>
    <servlet-name>PlaceOrder</servlet-name>
    <servlet-class>com.kitchenstore.servlet.PlaceOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlaceOrder</servlet-name>
    <url-pattern>/PlaceOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentOptions</display-name>
    <servlet-name>PaymentOptions</servlet-name>
    <servlet-class>com.kitchenstore.servlet.PaymentOptions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentOptions</servlet-name>
    <url-pattern>/PaymentOptions</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuyProducts</display-name>
    <servlet-name>BuyProducts</servlet-name>
    <servlet-class>com.kitchenstore.servlet.BuyProducts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyProducts</servlet-name>
    <url-pattern>/BuyProducts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderProcess</display-name>
    <servlet-name>OrderProcess</servlet-name>
    <servlet-class>com.kitchenstore.servlet.OrderProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderProcess</servlet-name>
    <url-pattern>/OrderProcess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PayOnline</display-name>
    <servlet-name>PayOnline</servlet-name>
    <servlet-class>com.kitchenstore.servlet.PayOnline</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayOnline</servlet-name>
    <url-pattern>/PayOnline</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderSuccess</display-name>
    <servlet-name>OrderSuccess</servlet-name>
    <servlet-class>com.kitchenstore.servlet.OrderSuccess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderSuccess</servlet-name>
    <url-pattern>/OrderSuccess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderFailed</display-name>
    <servlet-name>OrderFailed</servlet-name>
    <servlet-class>com.kitchenstore.servlet.OrderFailed</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderFailed</servlet-name>
    <url-pattern>/OrderFailed</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentFailed</display-name>
    <servlet-name>PaymentFailed</servlet-name>
    <servlet-class>com.kitchenstore.servlet.PaymentFailed</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentFailed</servlet-name>
    <url-pattern>/PaymentFailed</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Orders</display-name>
    <servlet-name>Orders</servlet-name>
    <servlet-class>com.kitchenstore.servlet.Orders</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Orders</servlet-name>
    <url-pattern>/Orders</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Feedback</display-name>
    <servlet-name>Feedback</servlet-name>
    <servlet-class>com.kitchenstore.servlet.Feedback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Feedback</servlet-name>
    <url-pattern>/Feedback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NotifyMe</display-name>
    <servlet-name>NotifyMe</servlet-name>
    <servlet-class>com.kitchenstore.servlet.NotifyMe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NotifyMe</servlet-name>
    <url-pattern>/NotifyMe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Home</display-name>
    <servlet-name>Home</servlet-name>
    <servlet-class>com.kitchenstore.servlet.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderDetails</display-name>
    <servlet-name>OrderDetails</servlet-name>
    <servlet-class>com.kitchenstore.servlet.OrderDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderDetails</servlet-name>
    <url-pattern>/OrderDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderFullDetails</display-name>
    <servlet-name>OrderFullDetails</servlet-name>
    <servlet-class>com.kitchenstore.servlet.OrderFullDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderFullDetails</servlet-name>
    <url-pattern>/OrderFullDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageFeedback</display-name>
    <servlet-name>ManageFeedback</servlet-name>
    <servlet-class>com.kitchenstore.servlet.ManageFeedback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageFeedback</servlet-name>
    <url-pattern>/ManageFeedback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveFeedback</display-name>
    <servlet-name>RemoveFeedback</servlet-name>
    <servlet-class>com.kitchenstore.servlet.RemoveFeedback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveFeedback</servlet-name>
    <url-pattern>/RemoveFeedback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Search</display-name>
    <servlet-name>Search</servlet-name>
    <servlet-class>com.kitchenstore.servlet.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PriceFilter</display-name>
    <servlet-name>PriceFilter</servlet-name>
    <servlet-class>com.kitchenstore.servlet.PriceFilter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PriceFilter</servlet-name>
    <url-pattern>/PriceFilter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MoveToCart</display-name>
    <servlet-name>MoveToCart</servlet-name>
    <servlet-class>com.kitchenstore.servlet.MoveToCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MoveToCart</servlet-name>
    <url-pattern>/MoveToCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OutofStock</display-name>
    <servlet-name>OutofStock</servlet-name>
    <servlet-class>com.kitchenstore.servlet.OutofStock</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OutofStock</servlet-name>
    <url-pattern>/OutofStock</url-pattern>
  </servlet-mapping>
</web-app>